body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 100px;
  overflow: hidden;
}

h1 {
  color: #fff;
}

.countdown {
  font-size: 60px;
  margin-top: 40px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.message {
  font-size: 30px;
  margin-top: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffdb58;
  border-radius: 50%;
  pointer-events: none;
  transform: rotateZ(45deg);
  animation: confetti-fall 3s ease-in-out infinite;
}

@keyframes confetti-fall {
  0% {
    transform: translateY(-100vh) rotateZ(45deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotateZ(45deg);
    opacity: 0;
  }
}

.video-container {
  margin-top: 40px;
  position: relative;
}

.video-container video {
  width: 560px;
  height: 315px;
}

.video-container h2 {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.tips-section {
  margin-top: 40px;
}

.tips-section h3 {
  font-size: 24px;
  color: #fff;
}

.tips-section ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.tips-section li {
  font-size: 18px;
  color: #fff;
  text-align: left;
  margin-bottom: 10px;
}

.destinations-section {
  margin-top: 40px;
}

.destinations-section h3 {
  font-size: 24px;
  color: #fff;
}

.destination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.destination-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.destination-info {
  margin-left: 20px;
}

.destination-info h4 {
  font-size: 20px;
  color: #fff;
}

.destination-info p {
  font-size: 16px;
  color: #fff;
}

footer {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  color: #777;
  margin-top: 20px;
  background-color: #fff;
  padding: 10px;
}

.rights-reserved {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
